!!! Strict
%html
  %head
    = stylesheet_link_tag 'vendors/bootstrap.css'
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.9.2.custom.min.css'
    = stylesheet_link_tag 'jquery-ui-timepicker-addon.css'

    %script{ src: "/javascripts/jquery-1.8.3.js" }
    %script{ src: "/javascripts/jquery-ui-1.9.2.custom.min.js" }
    %script{ src: "/javascripts/jquery-ui-sliderAccess.js" }
    %script{ src: "/javascripts/jquery-ui-timepicker-addon.js" }

    %script{ src: "/seccionales.js" }
    %script{ src: "/javascripts/map.widget.js" }

    %script{ type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyA3T24ZN-sLBOFlfPcPS8FzGJy2KSdCvpE&sensor=false" }

    %link{href:'http://fonts.googleapis.com/css?family=BenchNine', rel:'stylesheet', type:'text/css' }
  %body
    = haml :'_nav', layout: false
    = yield
